<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<header><h1 class="admin-heading">Site Administration</h1>
		<nav class="admin-nav">
			<ul>
				<li><a href="/admin">Admin Home</a></li>
				<li><a href="/keys">API Keys</a></li>
			</ul>
		</nav>
		</header>

	</div>
</div>