<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="no-access-heading">You are not authorized to access this resource</h1>
		<h4 class="no-access-subheading">Please authenticate with the proper cookie</h4>
		<p class="no-access-error">If you have questions, please <a href="#">consult our documentation</a></p>
	</div>
</div>