<div id="neighborhood" class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4 class="item-heading">Your Neighborhood</h4>
		<form class="toggle">
			<div id="neighborhood-radio">
				<input type="radio" id="brooklyn" name="neighborhood" value="brooklyn"><label for="brooklyn">Brooklyn</label>
				<input type="radio" id="manhattan" name="neighborhood" value="manhattan"><label for="manhattan">Manhattan</label>
				<input type="radio" id="queens" name="neighborhood" value="queens"><label for="queens">Queens</label>
			</div>
		</form>
	</div>
</div>

<div id="service" class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4 class="item-heading">Your Service</h4>
		<form class="toggle">
			<div id="service-radio"></div>
		</form>
  	</div>
</div>

<div id="information" class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4 class="item-heading">Your Information</h4>
		<div id="information-radio">
			<form class="toggle">
				<input type="radio" id="new-user-radio" name="account" value="newuser" checked="checked"><label for="new-user-radio" class="active">I am new</label>
				<input type="radio" id="login-radio" name="account" value="login"><label for="login-radio">I have an account</label>	
			</form>	
		</div>
		<div id="auth-form"></div>	

	</div>
</div>

<div id="date" class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4 class="item-heading">Your Date</h4>
		<div id="datepicker"></div>

	</div>
</div>

<div id="time" class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4 class="item-heading">Your Time</h4>
		<p id="selected-time"></p>
		<div class="slider-container">
			<div id="time-slider"></div>
		</div>

	</div>
</div>

<div class="row">
	<div id="send" class="col-md-8 col-md-offset-2">
		<button id="send-button">Send Request!</button>
	</div>
</div>

<script type="text/template" id="productTemplate">
   <input id="<%%= product_name.split(' ').join('') %>" name="product_id" value="<%%= id %>" type="radio" name="radio"><label for="<%%= product_name.split(' ').join('') %>"><%%= product_name %></label>
</script>

<script type="text/template" id="login-form">
	<form id="login-fields">
		<input type="email" id="login-email-field" name="email_address" placeholder="Email Address">
		<input type="password" id="login-password-field" name="password" placeholder="Password">
	</form>
	<button id="login-button">Login</button>
	<p id="login-response"></p>
</script>

<script type="text/template" id="register-form">
	<form id="registration-fields">
		<input type="email" id="email-field" name="email_address" value="<%%= email_address %>" placeholder="Email Address">
		<input type="password" id="password-field" name="password" value="<%%= password %>" placeholder="Password">
		<input type="password" id="password-confirmation-field" name="password_confirmation" value="<%%= password_confirmation %>" placeholder="Confirm Password">
		<input type="text" id="first-name-field" name="first_name" value="<%%= first_name %>" placeholder="First Name">
		<input type="text" id="last-name-field" name="last_name" value="<%%= last_name %>" placeholder="Last Name">
		<input type="text" id="phone-field" name="phone_number" value="<%%= phone_number %>" placeholder="Phone Number">
		<input type="text" id="address1-field" name="address_1" value="<%%= address_1 %>" placeholder="Address 1">
		<input type="text" id="address2-field" name="address_2" value="<%%= address_2 %>" placeholder="Address 2">
		<input type="text" id="city-field" name="city" value="<%%= city %>" placeholder="City">
		<input type="text" id="state-field" name="state" value="<%%= state %>" placeholder="State">
		<input type="text" id="zip-field" name="zip" value="<%%= zip %>" placeholder="Zip Code">
	</form>
	<button id="register-button">Register</button>
	
</script>

<script type="text/template" id="logged-in-user">
	<form id="user-fields">
		<input type="hidden" id="userid-field" name="user_id" value="<%%= id %>">
		<input type="email" id="email-field" name="email_address" value="<%%= email_address %>" placeholder="Email Address">
		<input type="text" id="first-name-field" name="first_name" value="<%%= first_name %>" placeholder="First Name">
		<input type="text" id="last-name-field" name="last_name" value="<%%= last_name %>" placeholder="Last Name">
		<input type="text" id="phone-field" name="phone_number" value="<%%= phone_number %>" placeholder="Phone Number">
		<input type="text" id="address1-field" name="address_1" value="<%%= address_1 %>" placeholder="Address 1">
		<input type="text" id="address2-field" name="address_2" value="<%%= address_2 %>" placeholder="Address 2">
		<input type="text" id="city-field" name="city" value="<%%= city %>" placeholder="City">
		<input type="text" id="state-field" name="state" value="<%%= state %>" placeholder="State">
		<input type="text" id="zip-field" name="zip" value="<%%= zip %>" placeholder="Zip Code">
	</form>
	<p id="register-response"></p>
</script>
